@page "/ProductsByCategory/{CategoryId:int}"
@inherits ProductsByCategoryBase

@if (Products == null && ErrorMessage == null)
{
    <DisplaySpinner />
}
else if (ErrorMessage != null)
{
    <DisplayError ErrorMessage="@ErrorMessage"></DisplayError>
}
else
{
    <h3>Products (@CategoryName)</h3>
    @if (Products.Any())
    {
        <div class="row">
            <DisplayProducts Products="@Products"></DisplayProducts>
        </div>
    }
}