@inherits ProductCategoriesNavMenuBase

@if (ProductCategoryDto == null && ErrorMessage == null)
{
    <DisplaySpinner/>
}
else if (ErrorMessage != null)
{
    <DisplayError ErrorMessage="@ErrorMessage"></DisplayError>
}
else
{
    @if (ProductCategoryDto != null)
    {
        foreach (var productCategory in ProductCategoryDto)
        {
            var link = "/ProductsByCategory/" + productCategory.Id;
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@link">
                    <span class="@productCategory.IconCss"></span>&nbsp;@productCategory.Name
                </NavLink>
            </div>
        }
    }
}
